<div class="row">
    <div class="col">
        <h4>Quotations</h4>
    </div>
    <div class="col">
        <!-- <button type="button" class="btn btn-sm btn-success addItemBtn mt-2" (click)="displayAddItem()">New</button> -->
    </div>
</div>

<hr>

<div class="row">

    <!--Grid area-->
    <div class="col-10">

        <!--Search area-->
        <div class="form-row mb-3">
            <div class="col-10">
                <div class="form-row">
                    <div class="col-3">
                        <label for="searchField1">Quotation No</label>
                        <input type="text" class="form-control" id="searchField1" [(ngModel)]="searchQuotationNo" placeholder="Search by Q No">
                    </div>
                    <div class="col-3">
                        <label for="searchField1">Quotation Date</label>
                        <input type="text" class="form-control" id="searchField3" [(ngModel)]="searchQuotationDate" placeholder="Search by Q Date">
                    </div>
                    <div class="col-3">
                        <label for="searchField2">Customer Name</label>
                        <input type="text" class="form-control" id="searchField2" [(ngModel)]="searchCustomerName" placeholder="Search by Client Name">
                    </div>
                    <div class="col-3">
                        <label for="searchField2">Estimate No</label>
                        <input type="text" class="form-control" id="searchField2" [(ngModel)]="searchEstimateNo" placeholder="Search by Estimate No">
                    </div>
                </div>
            </div>
            <div class="col-2" style="white-space: nowrap;">
                <button type="button" class="btn btn-success mt-4">Search</button>
                <button type="button" class="btn btn-primary mt-4" style="margin-left: 5px;">Reset</button>
            </div>

        </div>

        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-striped table-hover table-bordered table-sm mb-0">
                <thead>
                    <tr>
                        <th scope="col">
                            <span class="tableHeading">Quotation No</span>
                        </th>
                        <th scope="col">
                            <span class="tableHeading">Quotation Date</span>
                        </th>
                        <th scope="col">
                            <span class="tableHeading">Customer Name</span>
                        </th>
                        <th scope="col">
                            <span class="tableHeading">Estimate No</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="line" id="line{{ i+1 }}" *ngFor="let data of quotationArray; let i = index" (click)="setRowData(data)" style="cursor: pointer;">
                        <td>{{ data.quotationNo }}</td>
                        <td>{{ data.quotationDate }}</td>
                        <td>{{ data.customerName }}</td>
                        <td>{{ data.estimateDate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!--Detail area-->
    <div class="col-2">

        <div class="initialArea">
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <p class="errorIcon"><i class="far fa-hand-point-left"></i></p>
                    <p class="errorText">Select a quation record to see more information</p>
                </div>
            </div>
        </div>


    </div>
</div>