<div class="estimationArea">
    <form [formGroup]="estimateForm" (ngSubmit)="save()">
        <div class="row mb-2">
            <div class="col-7">
                <h4>Estimation</h4>
            </div>
            <div class="col-3" style="text-align: right;">
                <h6 class="estimateNo">Estimate No: <span id="estimateNo">XXXXXX</span></h6>
            </div>
            <div class="col-2">
                <select class="form-control" (change)="changeStatusColor()" id="status" formControlName="status">
                    <option style="font-weight: bold;" value="draft" selected>Draft</option>
                    <option style="font-weight: bold;" value="approved">Approved</option>
                </select>
            </div>

        </div>

        <div class="container-fluid estimateTemplate">

            <div class="row mb-3">

                <!--Left upper area-->
                <div class="col-5">
                    <div class="card mt-3">

                        <div class="form-group row mt-3">
                            <label for="method" class="col-3 col-form-label">Method</label>
                            <div class="col-6">
                                <select class="form-control" id="method" formControlName="method">
                                    <option value="email" selected>Send via Email</option>
                                    <option value="print">Print</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="clientCode" class="col-3 col-form-label">Client</label>
                            <div class="col-6">
                                <!-- <select class="form-control" id="clientCode" formControlName="clientCode" [ngClass]="{ 'is-invalid': estimateFormsubmitted && f3.clientCode.errors }" placeholder="Select Client">
                                    <option selected value="" hidden>(Select Client)</option>
                                    <option *ngFor="let data of clientArray" value="{{ data.clientCode }}">{{ data.clientName }}</option>                                
                                </select> -->

                                <div class="input-group">
                                    <input class="form-control" id="clientCode" formControlName="clientCode" [ngClass]="{ 'is-invalid': estimateFormsubmitted && f3.clientCode.errors }" placeholder="(Select Client)" disabled>
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-light openModalBtn" (click)="openClientSelectionModal()" type="button"><i class="fas fa-external-link-alt"></i></button>
                                    </div>
                                </div>

                                <div *ngIf="estimateFormsubmitted && f3.clientCode.errors" class="invalid-feedback">
                                    <div *ngIf="f3.clientCode.errors.required">Please fill out this field.</div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addNewClientModal">New</button>

                        </div>
                    </div>
                </div>

                <div class="col-2"></div>

                <!--Right upper area-->
                <div class="col-5">
                    <div class="card mt-3">

                        <div class="form-group row mt-3">
                            <label for="estimateDate" class="col-3 col-form-label" style="white-space: nowrap;">Estimate Date</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="estimateDate" formControlName="estimateDate" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="validTillDate" class="col-3 col-form-label" style="white-space: nowrap;">Valid Till Date</label>
                            <div class="col-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validTillDate" formControlName="validTillDate" ngbDatepicker #d1="ngbDatepicker" name="d1" [ngClass]="{ 'is-invalid': estimateFormsubmitted && f3.validTillDate.errors }" min="{{estimateForm.value.estimateDate}}">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary calenderBtn" (click)="d1.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                                    </div>
                                    <div *ngIf="estimateFormsubmitted && f3.validTillDate.errors" class="invalid-feedback">
                                        <div *ngIf="f3.validTillDate.errors.required">Please fill out this field.</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!--Table-->
            <table class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <td style="width: 40px;"></td>
                        <td>
                            <span class="tableHeading">Item</span>
                        </td>
                        <td>
                            <span class="tableHeading">Description</span>
                        </td>
                        <td style="width: 180px;">
                            <span class="tableHeading">Unit Price</span>
                        </td>
                        <td style="width: 100px;">
                            <span class="tableHeading">Quantity</span>
                        </td>
                        <td style="width: 180px;">
                            <span class="tableHeading">Subtotal</span>
                        </td>
                        <td style="width: 20px;"></td>
                        <td style="width: 120px;"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let field of fieldArray; let i = index">
                        <td>{{i+1}}.</td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input [(ngModel)]="field.item" class="form-control form-control-sm" placeholder="(Select Item)" name="{{field.item}}" [ngModelOptions]="{standalone: true}" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-light openModalBtn" id="openItemSelectionModalButton" (click)="openItemSelectionModal(i)" type="button"><i class="fas fa-external-link-alt"></i></button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input [(ngModel)]="field.description" class="form-control form-control-sm" type="text" name="{{field.description}}" [ngModelOptions]="{standalone: true}" disabled/>
                        </td>
                        <td>
                            <input [(ngModel)]="field.unitPrice" (keyup)="calculateItemTotal(i)" class="form-control form-control-sm" type="number" name="{{field.unitPrice}}" placeholder="Unit Price" [ngModelOptions]="{standalone: true}" disabled/>
                        </td>
                        <td>
                            <input [(ngModel)]="field.quantity" (keyup)="calculateItemTotal(i)" (ngModelChange)="checkItemSelection(i)" class="form-control form-control-sm" type="number" name="{{field.quantity}}" placeholder="Quantity" [ngModelOptions]="{standalone: true}" />
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Rs.</span>
                                </div>
                                <input [(ngModel)]="field.subTotal" class="form-control form-control-sm" type="number" id="subTotal{{i}}" name="{{field.subTotal}}" [ngModelOptions]="{standalone: true}" disabled />
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger" type="button" (click)="deleteFieldValue(i)"><i class="fas fa-times"></i></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-success" (click)="openAddNewItemModal(i)">New Item</button>
                        </td>
                    </tr>

                    <tr *ngFor="let j = index">
                        <td></td>
                        <td class="tableData">
                            <input class="form-control form-control-sm" id="newAttributeItem" [(ngModel)]="newAttribute.item" name="newAttributeItem" [ngModelOptions]="{standalone: true}">
                        </td>
                        <td class="tableData">
                            <input class="form-control form-control-sm" type="text" id="newAttributeDescription" [(ngModel)]="newAttribute.description" name="newAttributeDescription" [ngModelOptions]="{standalone: true}" />
                        </td>
                        <td class="tableData">
                            <input class="form-control form-control-sm" type="text" id="newAttributeUnitPrice" [(ngModel)]="newAttribute.unitPrice" name="newAttributePrice" placeholder="Unit Price" [ngModelOptions]="{standalone: true}" />
                        </td>
                        <td class="tableData">
                            <input class="form-control form-control-sm" type="text" id="newAttributeQuantity" [(ngModel)]="newAttribute.quantity" name="newAttributeQuantity" placeholder="Quantity" [ngModelOptions]="{standalone: true}" />
                        </td>

                        <td>
                            <input class="form-control form-control-sm" type="text" id="newAttributeSubTotal" [(ngModel)]="newAttribute.subTotal" name="newAttributeSubTotal" value="Rs.0.00" [ngModelOptions]="{standalone: true}" />
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button" (click)="deleteNewFieldValue(j)"><i class="fas fa-lg fa-window-close"></i></button>
                        </td>

                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-6">
                    <div class="btn-group" style="margin-top: -15px;">
                        <button type="button" class="btn btn-success active" (click)="addFieldValue()"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn btn-success" (click)="addFieldValue()">Add New Line</button>
                    </div>
                </div>
                <div class="col-6">
                    <table class="table table-sm table-striped table-bordered" style="margin-top: -15px;">
                      
                        <tr>
                            <th style="text-align: right">Total</th>
                            <td style="width: 180px;">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rs.</span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm" formControlName="total" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 160px;"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <!--Success messages-->
            <div id="successAlert" class="alert alert-success" role='alert'>
                <strong>Success!</strong> {{ successMessageText }}
            </div>

            <!--Footer fields area-->
            <div class="footer mb-3">

                <div class="row">
                    <div class="col-4">
                        <div class="card mb-3">

                            <div class="form-group row mt-3">
                                <label for="labourCost" class="col-sm-4 col-form-label" style="white-space: nowrap;">Labour Cost</label>
                                <div class="input-group col-8">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rs.</span>
                                    </div>
                                    <input type="number" class="form-control" (keyup)="calculateTotalAmount()" id="labourCost" formControlName="labourCost">
                                    <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="transport" class="col-4 col-form-label" style="white-space: nowrap;">Transport</label>
                                <div class="input-group col-8">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rs.</span>
                                    </div>
                                    <input type="number" class="form-control" (keyup)="calculateTotalAmount()" id="transport" formControlName="transport">
                                    <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="safty" class="col-4 col-form-label" style="white-space: nowrap;">Safty</label>
                                <div class="input-group col-8">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rs.</span>
                                    </div>
                                    <input type="number" class="form-control" (keyup)="calculateTotalAmount()" id="safty" formControlName="safty">
                                    <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="overheads" class="col-4 col-form-label" style="white-space: nowrap;">Overheads</label>
                                <div class="input-group col-sm-8">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rs.</span>
                                    </div>
                                    <input type="number" class="form-control" (keyup)="calculateTotalAmount()" id="overheads" formControlName="overheads">
                                    <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-4">

                        <div class="form-group row mt-3">
                            <label for="profit" class="col-4 col-form-label">Profit</label>
                            <div class="input-group col-8">
                                <input type="number" class="form-control" (keyup)="calculateTotalAmount()" id="profit" formControlName="profit">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="profitAmount" class="col-4 col-form-label" style="white-space: nowrap;">Profit Amount</label>
                            <div class="input-group col-8">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Rs.</span>
                                </div>
                                <input type="number" class="form-control" id="profitAmount" formControlName="profitAmount" disabled>
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="totalAmount" class="col-4 col-form-label font-weight-bold" style="white-space: nowrap;">Total Amount</label>
                            <div class="input-group col-sm-8">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Rs.</span>
                                </div>
                                <input type="number" class="form-control font-weight-bold" id="totalAmount" formControlName="totalAmount" disabled>
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-4">

                    </div>

                </div>

                <button type="submit" class="btn btn-primary saveBtn mb-3">Save</button>
                <button type="button" class="btn btn-success quotationBtn mb-3">Quotation</button>
                <button type="button" class="btn btn-light cancelBtn mb-3" routerLink="/home/estimateList">Cancel</button>

            </div>

        </div>
    </form>
</div>

<!-- Add New Client Modal -->
<div class="modal fade" id="addNewClientModal" tabindex="-1" role="dialog" aria-labelledby="addNewClientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewClientModalLabel">Add New Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <form [formGroup]="addClientForm" (ngSubmit)="addClient()">
                <div class="modal-body">

                    <div class="form-row">

                        <div class="col-8">
                            <div class="form-group">
                                <label for="addClientName">Client Name</label>
                                <input type="text" class="form-control" [(ngModel)]="addClientName" id="addClientName" formControlName="addClientName" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addClientName.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addClientName.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addClientName.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="addClientType">Type</label>
                                <input type="text" class="form-control" [(ngModel)]="addClientType" id="addClientType" formControlName="addClientType" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addClientType.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addClientType.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addClientType.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-6">
                            <div class="form-group">
                                <label for="addFirstName">First Name</label>
                                <input type="text" class="form-control" [(ngModel)]="addFirstName" id="addFirstName" formControlName="addFirstName" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addFirstName.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addFirstName.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addFirstName.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="addLastName">Last Name</label>
                                <input type="text" class="form-control" [(ngModel)]="addLastName" id="addLastName" formControlName="addLastName" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addLastName.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addLastName.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addLastName.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-6">
                            <div class="form-group">
                                <label for="addTelephone">Telephone</label>
                                <input type="text" class="form-control" [(ngModel)]="addTelephone" id="addTelephone" formControlName="addTelephone" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addTelephone.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addTelephone.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addTelephone.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="addMobile">Mobile</label>
                                <input type="text" class="form-control" [(ngModel)]="addMobile" id="addMobile" formControlName="addMobile" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addMobile.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addMobile.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addMobile.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-4">
                            <div class="form-group">
                                <label for="addAddress1">Address 1</label>
                                <input type="text" class="form-control" [(ngModel)]="addAddress1" id="addAddress1" formControlName="addAddress1" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addAddress1.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addAddress1.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addAddress1.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="addAddress2">Address 2</label>
                                <input type="text" class="form-control" [(ngModel)]="addAddress2" id="addAddress2" formControlName="addAddress2" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addAddress2.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addAddress2.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addAddress2.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="addAddress3">Address 3</label>
                                <input type="text" class="form-control" [(ngModel)]="addAddress3" id="addAddress3" formControlName="addAddress3" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addAddress3.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addAddress3.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addAddress3.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-4">
                            <div class="form-group">
                                <label for="addCity">City</label>
                                <input type="text" class="form-control" [(ngModel)]="addCity" id="addCity" formControlName="addCity" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addCity.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addCity.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addCity.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="addPostalCode">Postal Code</label>
                                <input type="text" class="form-control" [(ngModel)]="addPostalCode" id="addPostalCode" formControlName="addPostalCode" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addPostalCode.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addPostalCode.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addPostalCode.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="addCountry">Country</label>
                                <input type="text" class="form-control" [(ngModel)]="addCountry" id="addCountry" formControlName="addCountry" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addCountry.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addCountry.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addCountry.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-6">
                            <div class="form-group">
                                <label for="addCurrency">Currency</label>
                                <input type="text" class="form-control" [(ngModel)]="addCurrency" id="addCurrency" formControlName="addCurrency" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addCurrency.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addCurrency.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addCurrency.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="addInvoiceMethod">Invoice Method</label>
                                <input type="text" class="form-control" [(ngModel)]="addInvoiceMethod" id="addInvoiceMethod" formControlName="addInvoiceMethod" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addInvoiceMethod.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addInvoiceMethod.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addInvoiceMethod.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-12">
                            <div class="form-group">
                                <label for="addEmail">Email Address</label>
                                <input type="text" class="form-control" [(ngModel)]="addEmail" id="updateEmail" formControlName="addEmail" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addEmail.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addEmail.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addEmail.errors.required">Please fill out this field</div>
                                    <div *ngIf="f1.addEmail.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-4">
                            <div class="form-group">
                                <label for="addCategory">Category</label>
                                <input type="text" class="form-control" [(ngModel)]="addCategory" id="addCategory" formControlName="addCategory" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addCategory.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addCategory.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addCategory.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-8">
                            <div class="form-group">
                                <label for="addNotes">Notes</label>
                                <input type="text" class="form-control" [(ngModel)]="addNotes" id="addNotes" formControlName="addNotes" [ngClass]="{ 'is-invalid': addClientFormsubmitted && f1.addNotes.errors }">
                                <div *ngIf="addClientFormsubmitted && f1.addNotes.errors" class="invalid-feedback">
                                    <div *ngIf="f1.addNotes.errors.required">Please fill out this field</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light closeBtn" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add New Item Modal -->
<div class="modal fade" id="addNewItemModal" tabindex="-1" role="dialog" aria-labelledby="addNewItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 45%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewItemModalLabel">Add New Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <form [formGroup]="addItemForm" (ngSubmit)="addItem()">
                <div class="modal-body">

                    <!--Error messages-->
                    <div id="errorAlert" class="alert alert-danger">
                        <strong>Error!</strong> {{ errorMessageText }}
                    </div>

                    <div class="form-row">
                        <div class="col-4">
                            <P style="font-weight: 550;">Item Type:</P>
                        </div>
                        <div class="col-8">
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="rw" value="1" formControlName="addItemType">
                                    <label class="form-check-label" for="rw">Raw Material</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="sv" value="3" formControlName="addItemType">
                                    <label class="form-check-label" for="sv">Service</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="addItemName">Item Name</label>
                                <input type="text" class="form-control" id="addItemName" formControlName="addItemName" [ngClass]="{ 'is-invalid': addItemFormsubmitted && f2.addItemName.errors }">
                                <div *ngIf="addItemFormsubmitted && f2.addItemName.errors" class="invalid-feedback">
                                    <div *ngIf="f2.addItemName.errors.required">Please fill out this field.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="form-group">
                                <label for="addDescription">Description</label>
                                <input type="text" class="form-control" id="addDescription" formControlName="addDescription" [ngClass]="{ 'is-invalid': addItemFormsubmitted && f2.addDescription.errors }">
                                <div *ngIf="addItemFormsubmitted && f2.addDescription.errors" class="invalid-feedback">
                                    <div *ngIf="f2.addDescription.errors.required">Please fill out this field.</div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-row">

                        <div class="col-4">
                            <div class="form-group">
                                <label for="addBuyPrice">Buy Price</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rs.</span>
                                    </div>
                                    <input type="number" class="form-control" id="addBuyPrice" formControlName="addBuyPrice" [ngClass]="{ 'is-invalid': addItemFormsubmitted && f2.addBuyPrice.errors }">
                                    <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                    <div *ngIf="addItemFormsubmitted && f2.addBuyPrice.errors" class="invalid-feedback">
                                        <div *ngIf="f2.addBuyPrice.errors.required">Please fill out this field.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="addSellPrice">Sell Price</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rs.</span>
                                    </div>
                                    <input type="number" class="form-control" id="addSellPrice" formControlName="addSellPrice" [ngClass]="{ 'is-invalid': addItemFormsubmitted && f2.addSellPrice.errors }">
                                    <div class="input-group-append">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                    <div *ngIf="addItemFormsubmitted && f2.addSellPrice.errors" class="invalid-feedback">
                                        <div *ngIf="f2.addSellPrice.errors.required">Please fill out this field.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="addUom">Unit of Measurement</label>
                                <select class="form-control" id="addUom" formControlName="addUom" [ngClass]="{ 'is-invalid': addItemFormsubmitted && f2.addUom.errors }">
                                        <option *ngFor="let data of uomarray" value="{{ data.id }}">{{ data.umName }}</option>                                
                                    </select>
                                <div *ngIf="addItemFormsubmitted && f2.addUom.errors" class="invalid-feedback">
                                    <div *ngIf="f2.addUom.errors.required">Please fill out this field.</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="addBarCode">Bar Code</label>
                        <input type="text" class="form-control" id="addBarCode" formControlName="addBarCode">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light closeBtn" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Item Selection Modal -->
<div class="modal fade" id="itemSelectionModal" tabindex="-1" role="dialog" aria-labelledby="itemSelectionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemSelectionModalLabel">Item Selection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!--Search area-->
                <div class="form-row mb-3">
                    <div class="col-3">
                        <label for="searchField1">Item Code</label>
                        <input type="text" class="form-control" id="searchField1" [(ngModel)]="searchItemCode" placeholder="Search by Code">
                    </div>
                    <div class="col-3">
                        <label for="searchField2">Item Name</label>
                        <input type="text" class="form-control" id="searchField2" [(ngModel)]="searchItemName" placeholder="Search by Name">
                    </div>
                    <div class="col-3">
                        <label for="searchField2">Item Type</label>
                        <select type="text" class="form-control" id="searchField3" [(ngModel)]="searchItemType" placeholder="Search by Type">
                            <option value="" selected hidden>Search by Type</option>
                            <option value="1">Raw Material</option>
                            <option value="3">Service</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-success mt-4" (click)="getItemTableData()">Search</button>
                        <button type="button" class="btn btn-primary mt-4" style="margin-left: 5px;" (click)="resetItemSearchFields()">Reset</button>
                    </div>
                </div>

                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-striped table-hover table-bordered table-sm mb-0">
                        <thead>
                            <tr>
                                <td scope="col">
                                    <span class="tableHeading">Raw Material Code</span>
                                </td>
                                <td scope="col">
                                    <span class="tableHeading">Raw Material Name</span>
                                </td>
                                <td scope="col">
                                    <span class="tableHeading">Description</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="line" id="line{{ i }}" *ngFor="let data of itemArray; let i = index" (click)="getItemRowData(data)" style="cursor: pointer;">
                                <td>{{ data.itemCode }}</td>
                                <td>{{ data.itemName }}</td>
                                <td>{{ data.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light closeBtn" style="margin-left: 0px;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Client Selection Modal -->
<div class="modal fade" id="clientSelectionModal" tabindex="-1" role="dialog" aria-labelledby="clientSelectionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clientSelectionModalLabel">Client Selection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!--Search area-->
                <div class="form-row mb-3">
                    <div class="col-3">
                        <label for="searchField1">Client Code</label>
                        <input type="text" class="form-control" id="searchField1" [(ngModel)]="searchClientCode" placeholder="Search by Code">
                    </div>
                    <div class="col-3">
                        <label for="searchField2">Client Name</label>
                        <input type="text" class="form-control" id="searchField2" [(ngModel)]="searchClientName" placeholder="Search by Name">
                    </div>
                    <div class="col-3">
                        <label for="searchField2">Client Type</label>
                        <input type="text" class="form-control" id="searchField3" [(ngModel)]="searchClientType" placeholder="Search by Type">
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-success mt-4" (click)="getClientTableData()">Search</button>
                        <button type="button" class="btn btn-primary mt-4" style="margin-left: 5px;" (click)="resetClientSearchFields()">Reset</button>
                    </div>
                </div>

                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-striped table-hover table-bordered table-sm mb-0">
                        <thead>
                            <tr>
                                <td scope="col">
                                    <span class="tableHeading">Client Code</span>
                                </td>
                                <td scope="col">
                                    <span class="tableHeading">Client Name</span>
                                </td>
                                <td scope="col">
                                    <span class="tableHeading">Type</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="line" id="line{{ i }}" *ngFor="let data of clientArray; let i = index" (click)="getClientRowData(data)" style="cursor: pointer;">
                                <td>{{ data.customerCode }}</td>
                                <td>{{ data.firstName }} {{ data.lastName }}</td>
                                <td>{{ data.customerType }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light closeBtn" style="margin-left: 0px;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>